<mat-card class="w-100 mb-1">
  <div class="row">
    <div class="col-7">
      <span>{{team.name}}</span>
    </div>

    <div class="col-5">
      <div class="row">
        <div class="col-6">
          <mat-chip-list>
            <mat-chip
              [color]="'accent'"
              selected
              class="d-flex justify-content-center"
              [ngStyle]="{minWidth: 50 + 'px'}"
            >
              {{team.score}}
            </mat-chip>
          </mat-chip-list>
        </div>
        <div class="col-6">
          <div *ngIf="team.hasFinished">
            <mat-icon  matTooltip="Cette équipe a terminé le tournois">sports_score</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
