<!--<div class="row">-->
<!--  <button *ngIf="testsMatrix.length" mat-stroked-button class="w-100" (click)="addTest()">-->
<!--    Ajouter un test-->
<!--    <mat-icon>add</mat-icon>-->
<!--  </button>-->
<!--</div>-->
<div class="row m-0 h-100 justify-content-center">
  <div class="d-flex align-items-center ">
    <button mat-icon-button color="accent" (click)="carousel.prev()" matTooltip="Tests précédents">
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>
  <div class="col-11  p-0 ">
    <button *ngIf="!readonly" mat-stroked-button class="mx-auto w-100" (click)="addTest()">
      Ajouter un test
      <mat-icon>add</mat-icon>
    </button>
    <ngb-carousel #carousel [pauseOnHover]="true" [showNavigationArrows]="false"
                  [showNavigationIndicators]="false" [interval]="0" class="w-100">
      <ng-template *ngFor="let testsSlide of testsMatrix; let i=index" ngbSlide>
        <div class="row" *ngFor="let testItem of testsMatrix[i]; let j=index">
          <app-steps-test-edit-item class="col-12 my-2 mx-auto  " [readonly]="readonly" [testGrp]="testItem.form" [test]="testItem.item"
                                    [theme]="theme" (testDelete)="onTestDelete(i,j)">
          </app-steps-test-edit-item>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="d-flex align-items-center ">
    <button mat-icon-button class="my-auto" color="accent" (click)="carousel.next()" matTooltip="Tests suivants">
      <mat-icon>chevron_right</mat-icon>
    </button>

  </div>
</div>
