<mat-card class="w-100">

  <mat-card-content>
    <div class="row  justify-content-between">
      <div class="col-6 d-flex align-items-center">
        <h1 class="my-0">{{tournament.name}}</h1>
      </div>
      <button mat-icon-button *ngIf="currentUser?.isAdmin() || currentUser?.isCreator()" [routerLink]="['/tournaments', tournament.id, 'edit']" matTooltip="Modifier">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="row justify-content-between">
      <div class="col-6">{{tournament.description}}</div>
      <div class="col-4 ">
        <div class="row  justify-content-end">

        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>
