<div *ngIf="!disabled">
  <button (click)="setRate(i)" *ngFor="let star of rateArr; let i = index"
          [color]="i + 1 > rateValue ? 'primary' : 'accent'" [disableRipple]="disabled"
          [ngStyle]="{ fontSize: dim, height:dim, width:dim, 'line-height': dim}" mat-icon-button>
    <mat-icon [inline]="!!dim">star_rate</mat-icon>
  </button>
</div>
<div *ngIf="disabled">
  <mat-icon *ngFor="let star of rateArr; let i = index" [color]="i + 1 > rateValue ? 'primary' : 'accent'"
            [inline]="!!dim"
            [ngStyle]="{fontSize: dim, height:dim, width:dim}">star_rate
  </mat-icon>
</div>

