<mat-card class="col">
  <div class="row justify-content-center">
    {{func.name}}
  </div>
  <mat-divider></mat-divider>
  <div class="row align-items-center" >
    <div class="col-3 p-0">
      <mat-icon color="primary" inline="true" class="small-icon">arrow_forward</mat-icon>
    </div>
    <div class="col-9 text-right p-0">
      {{func.inputType}}
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-9 text-left p-0">
      {{func.outputType}}
    </div>
    <div class="col-3 p-0">
      <mat-icon color="primary" inline="true" class="small-icon" >arrow_forward</mat-icon>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row align-items-center justify-content-center">
    <div class="col text-center p-0">
      {{func.order}}
    </div>
    <div class="col-4 p-0 text-center">
      <button mat-icon-button color="accent" *ngIf="canEdit" (click)="onEditClicked()" class="small-icon">
        <mat-icon inline="true" class="small-icon">edit</mat-icon>
      </button>
      <button mat-icon-button color="accent" *ngIf="!canEdit" (click)="onDisplayClicked()" class="small-icon">
        <mat-icon inline="true" class="small-icon">visibility</mat-icon>
      </button>
    </div>
    <div class="col-4 p-0 text-center">
      <button mat-icon-button color="warn" [disabled]="!canRemove" class="small-icon" (click)="onRemoveClicked()">
        <mat-icon inline="true" class="small-icon" >clear</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
