<mat-card *ngIf="step">
  <mat-card-content>
    <div class="row justify-content-between align-items-center">
      <div class="col-3">
        <div class="row">
          <h3 class="col-1">{{step.order}}</h3>
          <div class="col-10">
            <!--            <h2>{{step.name}}</h2>-->
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Nom</mat-label>
              <input [formControl]="nameCtrl" matInput type="text">
              <mat-error *ngIf="nameCtrl.hasError('minlength') || nameCtrl.hasError('required')">
                Le nom de l'étape doit faire au moins {{minNameLength}} caractères
              </mat-error>
              <mat-error *ngIf="nameCtrl.hasError('maxlength')">
                Le nom de l'étape doit faire au maximun {{maxNameLength}} caractères
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <mat-form-field appearance="outline" class="col-2 mx-auto">
        <mat-label>Langage</mat-label>
        <mat-select [formControl]="languagesCtrl">
          <mat-option *ngFor="let language of languages" [value]="language.id">
            {{language.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>Fonctions min</mat-label>
        <input [formControl]="minFunctionsCntCtrl" matInput type="number">
        <mat-error *ngIf="minFunctionsCntCtrl.hasError('gtCtrlError')">
          Nb fonctions min < Nb fonctions max
        </mat-error>
        <mat-error *ngIf="minFunctionsCntCtrl.hasError('min')">
          Nb fonctions min >= 0
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-2">
        <mat-label>Fonctions max</mat-label>
        <input [formControl]="maxFunctionsCntCtrl" matInput type="number">
        <mat-error *ngIf="maxFunctionsCntCtrl.hasError('ltCtrlError')">
          Nb fonctions max > Nb fonctions min
        </mat-error>
        <mat-error *ngIf="maxFunctionsCntCtrl.hasError('min')">
          Nb fonctions min >= 0
        </mat-error>
      </mat-form-field>
      <div class="col-1 text-center">
        <button mat-stroked-button color="primary" [matBadge]="step.tests?.length" matBadgePosition="after"
                matBadgeColor="accent" (click)="openTestsDialog()">Tests
        </button>
      </div>
      <div class="col-1  align-items-center">
        <div class="row justify-content-center">
          <mat-slide-toggle
            [formControl]="isOptionalCtrl" [matTooltip]="isOptionalCtrl.value ? 'Obligatoire' : 'Optionnel'">
          </mat-slide-toggle>
        </div>
      </div>

      <div class="col-1">
        <div class="row  justify-content-center">
          <button mat-icon-button color="primary" (click)="openDetailDialog()" matTooltip="Détail">
            <mat-icon>zoom_in</mat-icon>
          </button>
        </div>
        <div class="row  justify-content-center">
          <button mat-icon-button color="warn" (click)="delete()" matTooltip="Supprimer">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
