<h1 mat-dialog-title>Edition des tests</h1>
<div mat-dialog-content>
  <ngb-carousel #carousel [pauseOnHover]="true" [showNavigationArrows]="false"
                [showNavigationIndicators]="true">
    <ng-template *ngFor = "let testsSlide of testsMatrix" ngbSlide>
      <div class="row">
        <app-steps-test-edit-item *ngFor="let test of testsSlide; let i = index" [test]="test" (testGrpReady)="addTestGrp($event, i)">

        </app-steps-test-edit-item>
      </div>

    </ng-template>
  </ngb-carousel>
</div>

<div mat-dialog-actions>
  <button mat-button [disabled]="formArray.invalid" (click)="onSaveClicked()">Sauvegarder</button>
  <button mat-button mat-dialog-close>Annuler</button>
</div>
