<div mat-dialog-title>
  <button mat-stroked-button class="mx-auto" (click)="addTest()">Ajouter un test
    <mat-icon>add</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div class="row justify-content-center">
    <div class="col-1 d-flex align-items-center ">
        <button mat-icon-button color="primary" (click)="carousel.prev()" matTooltip="Tests précédents"><mat-icon>chevron_left</mat-icon></button>
    </div>
    <div class="col-10">
      <ngb-carousel #carousel [pauseOnHover]="true" [showNavigationArrows]="false"
                    [showNavigationIndicators]="true" class="w-100">
        <ng-template *ngFor="let testsSlide of testsMatrix" ngbSlide>
          <div class="row m-3">
            <app-steps-test-edit-item class="col-3" *ngFor="let test of testsSlide; let i = index" [test]="test"
                                      [testGrp]="getTestForm(i)">
            </app-steps-test-edit-item>
          </div>

        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-1 d-flex align-items-center ">
      <button mat-icon-button class="my-auto" (click)="carousel.next()" matTooltip="Tests suivants"><mat-icon>chevron_right</mat-icon></button>

    </div>


  </div>
  <div class="row justify-content-end">
    <button mat-button [disabled]="testsArray.invalid" (click)="onSaveClicked()">Sauvegarder</button>
    <button mat-button mat-dialog-close>Annuler</button>
  </div>
</div>

