<mat-card class="row w-100">
  <div class="col-12">
    <div class="row justify-content-between">
      <h2 class="col-3">{{team.name}}</h2>
      <div *ngIf="connectedUser.isTeamAdmin(team.id)" class="col-1">
        <button  mat-icon-button color="accent"
                 [routerLink]="['/teams',team.id, 'edit']"
                 matTooltip="Administrer l'équipe">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div *ngIf="connectedUser.isTeamMember(team.id) && !connectedUser.isTeamAdmin(team.id)" class="col-1">
        <button  mat-icon-button
                 color="warn" (click)="leave()"
                 matTooltip="Quitter l'équipe">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
