<mat-card class="w-100" [ngStyle]="{height: detailsCardHeight.toString() + 'px', backgroundColor: colors.primary, color: 'white'}">
  <div class="row d-flex justify-content-center">
    <h2>Les équipes du tournois</h2>
  </div>

  <div *ngIf="teams.length > 0; then thenBlock else elseBlock"></div>
  <ng-template  #thenBlock>
    <div class="row mb-2 d-flex align-items-center">
      <div class="col-7">
        <span><b>Nom de l'équipe</b></span>
      </div>

      <div class="col-5">
        <div class="row d-flex align-items-center">
          <div class="col-6">
            <div class="row d-flex align-items-center">
              <span><b>Score</b></span>
              <button mat-icon-button matSuffix (click)="sortByScore()">
                <mat-icon class="" style="transform: scale(0.7);">unfold_more</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-6">
            <div class="row d-flex align-items-center">
              <span><b>Terminé</b></span>
              <button mat-icon-button matSuffix (click)="sortByHasFinished()">
                <mat-icon style="transform: scale(0.7);">unfold_more</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <cdk-virtual-scroll-viewport
      itemSize="50"
      class="w-100"
      [ngStyle]="{height: (detailsCardHeight - 130 ).toString() + 'px', borderRadius: '4px'}"
    >
      <div *cdkVirtualFor="let team of teams">
        <app-tournament-summary-team [team]="team"></app-tournament-summary-team>
      </div>
    </cdk-virtual-scroll-viewport>
  </ng-template>
  <ng-template #elseBlock>
    <div
      class="w-100  d-flex justify-content-center align-items-center"
      [ngStyle]="{height: (detailsCardHeight - 80 ).toString() + 'px'}"
    >
      Aucune équipe ne participe au tournois
    </div>
  </ng-template>
</mat-card>
