<mat-card class="w-100" [ngStyle]="{height: detailsCardHeight.toString() + 'px', backgroundColor: colors.primary, color: 'white'}">
  <div class="row d-flex justify-content-center">
    <h2>Les équipes du tournois</h2>
  </div>
  <cdk-virtual-scroll-viewport
    itemSize="50"
    class="w-100"
    [ngStyle]="{height: (detailsCardHeight - 80 ).toString() + 'px', borderRadius: '4px'}"
  >
    <div *cdkVirtualFor="let team of teams">
      <app-tournament-summary-team [team]="team"></app-tournament-summary-team>
    </div>
  </cdk-virtual-scroll-viewport>
</mat-card>
