<div class="row align-items-center justify-content-around">
  <div class="col-5">
    <div class="row">
      <div class="col">
        <app-tournaments-edit-name-input [nameCtrl]="nameCtrl"></app-tournaments-edit-name-input>
      </div>

    </div>
    <div class="row">
      <div class="col-6 text-center">
        <mat-form-field>
          <mat-label>Date début du tournois</mat-label>
          <input [formControl]="startDateCtrl" matInput type="datetime-local">
        </mat-form-field>
        <mat-error *ngIf="startDateCtrl.hasError('minDateError')">
          La date de début du tournois doit être supérieure à maintenant
        </mat-error>
      </div>
      <div class="col-6 text-center">
        <mat-form-field>
          <mat-label>Date fin du tournois</mat-label>
          <input [formControl]="endDateCtrl" matInput type="datetime-local">
        </mat-form-field>
        <mat-error *ngIf="formGroup.hasError('noStartDate')">
          Le tournois doit avoir une date de début
        </mat-error>
      </div>

      <mat-error *ngIf="formGroup.hasError('startDateLower')" class="col text-center">
        La date de début de tournois doit être inférieure à la date de fin
      </mat-error>
    </div>
  </div>
  <div class="col-5">
    <app-tournaments-edit-description-input
      [descriptionCtrl]="descriptionCtrl "></app-tournaments-edit-description-input>
  </div>
  <div class="col-2 align-self-stretch">
    <div class="d-flex h-100 justify-content-around flex-column">
      <button (click)="saveTournament()" [disabled]="tournamentPublished || (isInvalid$ | async)" mat-stroked-button>
        Sauvegarder
      </button>
      <mat-slide-toggle [formControl]="isPublishedCtrl"
                        [matTooltip]="isPublishedCtrl.value ? 'Publié' : 'Non publié'" class="mx-auto">
      </mat-slide-toggle>
    </div>

  </div>

</div>
<mat-divider class="py-2">
</mat-divider>
<div class="row">
  <div class="col-6">
    <button (click)="addStep()" [disabled]="tournamentPublished || (isInvalid$ | async)" class="w-100 py-1 my-2"
            mat-stroked-button>Ajouter une nouvelle étape
    </button>
  </div>
  <div class="col-6">
    <button (click)="openStepsListDialog()" [disabled]="tournamentPublished || (isInvalid$ | async)" class="w-100 py-1 my-2"
            mat-stroked-button>Ajouter une étape existante
    </button>
  </div>
</div>

<app-tournaments-edit-steps-list [languages]="languages" [stepsArray]="stepsArray"
                                 [steps]="tournament.steps"
                                 [tournamentPublished]="tournamentPublished"></app-tournaments-edit-steps-list>

