<div class="row align-items-center justify-content-around">
  <div class="col-5">
    <div class="row">
      <div class="col">
        <app-tournaments-edit-name-input [nameCtrl]="nameCtrl"></app-tournaments-edit-name-input>
      </div>

    </div>
    <div class="row">
      <div class="col-6 text-center">
        <mat-form-field>
          <mat-label>Date début du tournois</mat-label>
          <input matInput type="date" [formControl]="startDateCtrl">
        </mat-form-field>
        <mat-error *ngIf="startDateCtrl.hasError('minDateError')">
          La date de début du tournois doit être supérieure à maintenant
        </mat-error>
      </div>
      <div class="col-6 text-center">
        <mat-form-field>
          <mat-label>Date fin du tournois</mat-label>
          <input matInput type="date" [formControl]="endDateCtrl">
        </mat-form-field>
        <mat-error *ngIf="formGroup.hasError('noStartDate')">
          Le tournois doit avoir une date de début
        </mat-error>
      </div>

      <mat-error *ngIf="formGroup.hasError('startDateLower')" class="col text-center">
        La date de début de tournois doit être inférieure à la date de fin
      </mat-error>
    </div>
  </div>
  <div class="col-5">
    <app-tournaments-edit-description-input [descriptionCtrl]="descriptionCtrl "></app-tournaments-edit-description-input>
  </div>
  <div class="col-2 align-self-stretch">
    <div class="d-flex h-100 justify-content-around flex-column">
        <button mat-stroked-button [disabled]="isInvalid$ | async">Sauvegarder</button>
        <mat-slide-toggle class="mx-auto"
          [formControl]="isPublishedCtrl" [matTooltip]="isPublishedCtrl.value ? 'Publié' : 'Non publié'">
        </mat-slide-toggle>
    </div>

    </div>

</div>
<mat-divider class="py-2">
</mat-divider>
<div class="row">
  <div class="col-6">
    <button mat-stroked-button [disabled]="(isInvalid$ | async)" class="w-100 py-1 my-2" (click)="addStep()">Ajouter une nouvelle étape
    </button>
  </div>
  <div class="col-6">
    <button mat-stroked-button [disabled]="(isInvalid$ | async)" class="w-100 py-1 my-2" (click)="openSearchStepDialog()">Ajouter une étape existante
    </button>
  </div>
</div>

<app-tournaments-edit-steps-list [steps]="tournament.steps" [languages]="languages"
                                 [stepsArray]="stepsArray"></app-tournaments-edit-steps-list>

