@import "~bootstrap/scss/bootstrap";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
@import "assets/light-theme";
@import "assets/dark-theme";
@import "assets/theme-color";


.light-theme {
  @include angular-material-theme($light-theme);
  @include theme-color($light-theme);
}

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include theme-color($dark-theme);
}
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.drag-place-holder {
  padding: 5px;
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
  overflow: hidden;
}

.hint-error{
  font-size: $small-font-size;
}
.rotate-l90 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotate-r90 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 5px !important;
}
