<form [formGroup]="filterGrp" class="row align-items-center">
  <app-languages-selector (languagesCtrlReady)="languagesCtrl = $event" [languages]="languageId" class="col-3">
  </app-languages-selector>
  <app-tournament-name-filter-input (ctrlReady)="tournamentCtrl = $event"
                                    class="col-3"></app-tournament-name-filter-input>
  <app-sort-by-arrows (orderChanged)="nameOrder = $event" [order]="nameOrder" class="col-3"></app-sort-by-arrows>
  <app-tournaments-in-team-filter-input (inMyTeamCtrlReady)="inMyTeamCtrl = $event"
                                        [inMyTeam]="false"></app-tournaments-in-team-filter-input>
  <div class="col-3">
    <button (click)="updateForm()" class="ml-2" id="filter-button" mat-stroked-button type="submit">Filtrer</button>
  </div>
</form>
