<ng-container *ngIf="(currentUser$|async) as currentUser ">
  <app-tournaments-filter-form (filterChanged)="searchTournaments($event)"
                               [currentUser]="currentUser"
                               [languages]="languages$ | async"
                               class="col my-3"></app-tournaments-filter-form>
  <app-tournaments-item *ngFor="let tournament of tournaments$|async" [currentUser]="currentUser"
                        [theme]="theme$ | async"
                        [tournament]="tournament"
                        class="row my-2">
  </app-tournaments-item>
  <app-paged-list [cursor]="tournamentCursor"></app-paged-list>
</ng-container>

