<div class="w-75 mx-auto mt-5 d-flex flex-row">
  <mat-card class="w-100 d-flex flex-column mr-5">
    <app-team-form [teamId]="teamId"></app-team-form>
    <app-team-teammate *ngIf="isSearching" [teammates]="searchedTeammates" [addOrDelete]="addTeammate"
                       [isDelete]="false"></app-team-teammate>
  </mat-card>
  <mat-card class="w-100 d-flex flex-column ml-5">
    <app-team-teammate [teammates]="yourTeammates" [addOrDelete]="removeTeammate" [manageStatus]="manageStatus" [isDelete]="true"></app-team-teammate>
  </mat-card>
</div>
