<nav backgroundColor="primary" mat-tab-nav-bar>
  <div class="w-75">

    <ng-container *ngIf="user$ | async as user">
      <a [routerLink]="['/participation']" class="nav-link" data-toggle="tab" id="participationLink" mat-tab-link
         routerLinkActive="active">Temporary participation access</a>
      <a [routerLink]="['/tournaments']" class="nav-link" data-toggle="tab" id="tournmanentsLink" mat-tab-link
         routerLinkActive="active">Tournois</a>
      <a *ngIf="user.isAdmin() || user.isCreator()" [routerLink]="['/steps']" class="nav-link" data-toggle="tab"
         id="stepsLink" mat-tab-link
         routerLinkActive="active">Etapes</a>
    </ng-container>
    <a *ngIf="!(user$ | async) as user" [routerLink]="['/login']" class="nav-link" data-toggle="tab" id="loginLink"
       mat-tab-link routerLinkActive="active">Connexion</a>

    <a [routerLink]="['/home']" class="nav-link" data-toggle="tab" id="homeLink" mat-tab-link routerLinkActive="active">Accueil</a>
    <a [routerLink]="['/contact']" class="nav-link" data-toggle="tab" id="contactLink" mat-tab-link
       routerLinkActive="active">Contact</a>
  </div>
  <div class="d-flex w-25 justify-content-end align-items-center">
    <mat-slide-toggle [formControl]="toggleThemeCtrl" class="mx-2">
    </mat-slide-toggle>
    <mat-icon *ngIf="toggleThemeCtrl.value" class="mx-2" color="accent">
      brightness_2
    </mat-icon>
    <mat-icon *ngIf="!toggleThemeCtrl.value" class="mx-2" color="accent">
      brightness_5
    </mat-icon>

    <ng-container *ngIf="user$ | async as user">
      <button [matMenuTriggerFor]="userMenu" aria-label="Profile" mat-button>
        {{user.username}}
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button [routerLink]="['profiles',user.id]" mat-menu-item>
          <mat-icon>portrait</mat-icon>
          <span>Profile</span>
        </button>
        <button (click)="onLogout()" mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
    </ng-container>
  </div>
</nav>

